* {
    box-sizing: border-box;
}

body {
    width: 34.375em;
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
}

 /*      LAYOUTS   */

header {
    display: flex;
    padding: 1.5em 1.125em;
    justify-content: space-between;   
}

main {
    padding: 0 0.5em;
}

.reaction-bar {
    display: flex;
    gap: 1.5em;
    justify-content: center;
    padding: 1.55em 10.69em;
}

/*     TYPOGRAPHY */

h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.45em; 
}

p {
    margin-top: 0; 
    font-size: 1.5rem;
    font-weight: 400;
    color: #B7B7B7;
}

.info {
    position: absolute;
    bottom: 1.03em;
    left: 0.77em;
}

/*     ICONS  &  BUTTON  &  IMAGES   */

.avatar { height: 2.125em }
.logo   {height: 2.625em }

.profile {
    width: 33.4em;
    height: 47em;
    position: relative;
}

button {
    border: none;
    border-radius: 50%;
    background: #fff;
    padding: 1em;
    box-shadow: 0px 10px 20px #E9E9EA;
}

.cross:hover,
.cross:focus {
    outline:0;
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}

.heart:hover,
.heart:focus {
    outline:0;
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}

.profile-pics {
    width: 100%;
    border-radius: 0.5em;
}

.reaction {
    position: absolute;
    top: 3.5em;
    left: 1em;
    width: 14.62em;
    transform: rotate(-30deg);
}